
.book-frame {
    padding: 20px;
    margin: 20px;

    border-left-style: ridge;
    border-left-color: black;
    border-left-width: 25px;

    border-right-style: ridge;
    border-right-color: black;
    border-right-width: 25px;

    border-top-style: ridge;
    border-top-color: black;
    border-top-width: 5px;

    border-bottom-style: ridge;
    border-bottom-color: black;
    border-bottom-width: 5px;

    background: green;
}

.page-frame-left {

    border-left-style: outset;
    border-left-color: cyan;
    border-left-width: 5px;

    border-right-style: solid;
    border-right-color: cyan;
    border-right-width: 0px;

    border-top-style: outset;
    border-top-color: cyan;
    border-top-width: 5px;

    border-bottom-style: outset;
    border-bottom-color: cyan;
    border-bottom-width: 5px;
}

.page-frame-right {

    border-left-style: outset;
    border-left-color: cyan;
    border-left-width: 0px;

    border-right-style: solid;
    border-right-color: cyan;
    border-right-width: 5px;

    border-top-style: outset;
    border-top-color: cyan;
    border-top-width: 5px;

    border-bottom-style: outset;
    border-bottom-color: cyan;
    border-bottom-width: 5px;

}

.page-frame-center {

    border-left-style: outset;
    border-left-color: cyan;
    border-left-width: 5px;

    border-right-style: solid;
    border-right-color: cyan;
    border-right-width: 5px;

    border-top-style: outset;
    border-top-color: cyan;
    border-top-width: 5px;

    border-bottom-style: outset;
    border-bottom-color: cyan;
    border-bottom-width: 5px;
}

.content-frame {
    border: 5px outset cyan;
    border-right-style: solid;
    background: lemonchiffon;
}
