html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    position: absolute;
    overflow: hidden;
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

iframe {
    border-width: 0;
}


#viewport {
    width: 100%;
    height: 100%;
    position: relative;
    background: red;
}

.book-box {
    position: absolute;

    padding: 20px;
    margin: 20px;

    border-left-style: ridge;
    border-left-color: black;
    border-left-width: 25px;

    border-right-style: ridge;
    border-right-color: black;
    border-right-width: 25px;

    border-top-style: ridge;
    border-top-color: black;
    border-top-width: 5px;

    border-bottom-style: ridge;
    border-bottom-color: black;
    border-bottom-width: 5px;

    background: green;
}


/*Fixed layout */

.book-box-fixed {

}


.page-box-fixed {
    position: absolute;
}


.iframe-fixed {
    width: 100%;
    height: 100%;
}

/*Reflowable layout*/

.book-box-reflowable {
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
}

#content-box-reflowable {
    position: absolute;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    background: lemonchiffon;
}






